<%- include('partials/head') %>
<body>
	<% if(token) {%>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="/images/<%= user.image %>" class="online" alt="" />
				<p><%= user.username %></p>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<% user.rooms.sort(
					(a, b) =>
					  new Date(b.rooms.messages[0]?.createdAt).getTime() -
					  new Date(a.rooms.messages[0]?.createdAt).getTime(),
				  ).forEach((room) => { %>
				<li class="contact" data-room-id="<%= room.roomId %>">
					<div class="wrap">
						<span class="<%= room.rooms.users[0].users.socketId ? 'contact-status online' : 'contact-status' %>"></span>
						<img src="/images/<%= room.rooms.users[0].users.image %>" alt="" />
						<div class="meta">
							<p class="name"><%= room.rooms.users[0].users.username %></p>
							<% if(room.rooms.messages[0]?.userId === user.id) {%>
								<% if(room.rooms.messages[0]?.isImage) {%>
									<p class="preview">You: image</p>
								<% } else { %>
									<p class="preview">You: <%= room.rooms.messages[0]?.content %></p>
								<% } %>
								<p class="timeRoom"><%= new Date(room.rooms.messages[0]?.createdAt).toLocaleTimeString([], {
									hour: '2-digit',
									minute: '2-digit',
								  }); %></p>
							<% } else { %>
								<% if(room.rooms.messages[0]?.isImage) {%>
									<p class="preview">image</p>
								<%} else {%>
									<p class="preview"><%= room.rooms.messages[0]?.content %></p>
								<% } %>
								<p class="timeRoom"><%= room.rooms.messages[0]?.createdAt ? new Date(room.rooms.messages[0]?.createdAt).toLocaleTimeString([], {
									hour: '2-digit',
									minute: '2-digit',
								  }) : '' %></p>
							<% } %>
						</div>
					</div>
				</li>
				<% }) %>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<%- include('partials/contactModal') %>
			<button id="settings" type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal"><span>Profile</span></button>
			<%- include('partials/profileModal') %>
			<%- include('partials/updateModal') %>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="" class="avatar" alt="" />
			<p class="username"></p>
		</div>
		<div class="messages">
			<ul class="messageList">
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input class="messageToSend" type="content" placeholder="Write your message..."/>
            <label for="input__file_att">
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
             <input type="file" id="input__file_att" accept=".jpg, .jpeg, .png">
            </label>
			
			<button id="sendBtn" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<% } %>
<%- include('partials/scripts') %>
</body></html>